<% include partials/header %>

<!-- Header -->
<style type="text/css">
button:focus
{
  outline:none;
}
</style>
<div id="header">
  <div class="color-line">
  </div>
  <div id="logo" class="light-version">
    <span>
            The_ReFactory
        </span>
  </div>
  <nav role="navigation">
    <div class="header-link hide-menu"><i class="fa fa-bars"></i></div>
    <div class="small-logo">
      <span class="text-primary"> The_ReFactory</span>
    </div>
    <form role="search" class="navbar-form-custom" method="post" action="#">
      <div class="form-group">
        <input type="text" placeholder="Search" class="form-control" name="search">
      </div>
    </form>
    <div class="mobile-menu">
      <button type="button" class="navbar-toggle mobile-menu-toggle" data-toggle="collapse" data-target="#mobile-collapse">
                <i class="fa fa-chevron-down"></i>
            </button>
      <div class="collapse mobile-navbar" id="mobile-collapse">
        <ul class="nav navbar-nav">
          <li>
            <a class="" href="/auth/login">Login</a>
          </li>
          <li>
            <a class="logout">Logout</a>
          </li>
          <li>
            <a class="" href="/client/<%=client.id%>/edit">Profile</a>
          </li>
        </ul>
      </div>
    </div>
    <div class="navbar-right">
      <ul class="nav navbar-nav no-borders">
        <li class="dropdown">
          <a class="dropdown-toggle" href="#" data-toggle="dropdown">
                        <i class="pe-7s-speaker"></i>
                    </a>
          <ul class="dropdown-menu hdropdown notification animated flipInX">
            <li>
              You have 0 new notifications
            </li>
            <li class="summary"><a href="#">See all notifications</a></li>
          </ul>
        </li>
        <li class="dropdown">
          <a class="dropdown-toggle" href="#" data-toggle="dropdown">
                        <i class="pe-7s-keypad"></i>
                    </a>

          <div class="dropdown-menu hdropdown bigmenu animated flipInX">
            <table>
              <tbody>
                <tr>
                  <td>
                    <a href="#">
                                        <i class="pe pe-7s-world text-info"></i>
                                        <h5>Discover</h5>
                                    </a>
                  </td>
                  <td>
                    <a href="#">
                                        <i class="pe pe-7s-paperclip text-warning"></i>
                                        <h5>Annotate</h5>
                                    </a>
                  </td>
                </tr>
                <tr>
                  <td>
                    <a href="#">
                                        <i class="pe pe-7s-tools text-success"></i>
                                        <h5>Refine</h5>
                                    </a>
                  </td>
                  <td>
                    <a href="#">
                                        <i class="pe pe-7s-alarm text-danger"></i>
                                        <h5>Plan</h5>
                                    </a>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </li>
        <li class="dropdown">
          <a class="dropdown-toggle label-menu-corner" href="#" data-toggle="dropdown" id="scope-dropdown">
                      <h5>Scope: <%=client.scope%></h5>
                    </a>
          <ul id="scope-dropdown-list" class="dropdown-menu hdropdown">
            <div class="title">
              Current Scope: <%=client.scope%>
            </div>
            <% project.rules.scope.forEach(function (project_scope) { %>
            <li>
              <form action="/client/<%=client.id%>/scope?_method=PUT" method="POST">
                <button style="width: 174px; height: 35px; padding: 0; border: none; background: none;" type="submit" name="scope" value="<%=project_scope%>" class="scope-dropdown-item" id="scope-dropdown-item-<%=project_scope%>"><%=project_scope%></button>
              </form>
            </li>
            <% }) %>
            <!-- <li >
              <form action="/client/<%=client.id%>?_method=PUT" method="POST">
                <button style="width: 174px; height: 35px; padding: 0; border: none; background: none;" type="submit" name="scope" value="Billing" class="scope-dropdown-item" id="scope-dropdown-item-billing">Billing</button>
              </form>
            </li>
            <li>
              <form action="/client/<%=client.id%>?_method=PUT" method="POST">
                <button style="width: 174px; height: 35px; padding: 0; border: none; background: none;" type="submit" name="scope" value="Enrollment" class="scope-dropdown-item" id="scope-dropdown-item-enrollment">Enrollment</button>
              </form>
            </li>
            <li>
              <form action="/client/<%=client.id%>?_method=PUT" method="POST">
                <button style="width: 174px; height: 35px; padding: 0; border: none; background: none;" type="submit" name="scope" value="Claims" class="scope-dropdown-item" id="scope-dropdown-item-claims">Claims</button>
              </form>
            </li> -->

            <li class="summary"><a href="#">Create New Scope</a></li>
          </ul>
        </li>
        <li class="dropdown">
          <a class="logout">
                        <i class="pe-7s-upload pe-rotate-90"></i>
                    </a>
        </li>
      </ul>
    </div>
  </nav>
</div>

<!-- Navigation -->
<aside id="menu">
  <div id="navigation">
    <div class="profile-picture">
      <a href="/client/<%=client.id%>/edit">
                <img src="<%=client.avatar%>" height="70" width="70" class="img-circle m-b" alt="logo">
            </a>

      <div class="stats-label text-color">
        <span class="font-extra-bold font-uppercase"><%=client.first_name%> <%=client.last_name%></span>

        <div class="dropdown">
          <a class="dropdown-toggle" href="#" data-toggle="dropdown">
                        <small class="text-muted"> Edit <b class="caret"></b></small>
                    </a>
          <ul class="dropdown-menu animated flipInX m-t-xs">
            <li><a href="/client/edit/<%=client.id%>">Edit Profile</a></li>
            <li><a href="/client/<%=client.project_id%>/project">Mange Project</a></li>
            <li class="divider"></li>
            <li><a class="logout">Logout</a></li>
          </ul>
        </div>


        <div id="sparkline1" class="small-chart m-t-sm"></div>
        <div>
          <h4 class="font-extra-bold m-b-xs">
                        1749 / 2000
                    </h4>
          <small class="text-muted">Average migration quality over time</small>
        </div>
      </div>
    </div>

    <ul class="nav" id="side-menu">
      <li>
        <a href="/client"> <span class="nav-label">Dashboard</span> </a>
      </li>
      <li>
        <a href="/client/<%=client.project_id%>/project"> <span class="nav-label">Project</span> </a>
      </li>
      <li>
        <a href="/client/<%=client.project_id%>/metrics"> <span class="nav-label">Metrics</span> </a>
      </li>
      <!-- <li>
                <a href="/client"><span class="nav-label">Sample</span><span class="fa arrow"></span> </a>
                <ul class="nav nav-second-level">
                    <li><a href="forms_elements.html">Forms elements</a></li>
                    <li><a href="forms_extended.html">Forms extended</a></li>
                    <li><a href="text_editor.html">Text editor</a></li>
                    <li><a href="wizard.html">Wizard</a></li>
                    <li><a href="validation.html">Validation</a></li>
                </ul>
            </li> -->
      <li>
    </ul>
  </div>
</aside>

<script>
  switch ("<%=client.scope%>") {
    case "All":
      document.getElementById("scope-dropdown-item-All").style.color = "green";
      break;
    case "Billing":
      document.getElementById("scope-dropdown-item-Billing").style.color = "green";
      break;
    case "Enrollment":
      document.getElementById("scope-dropdown-item-Enrollment").style.color = "green";
      break;
    case "Claims":
      document.getElementById("scope-dropdown-item-Claims").style.color = "green";
      break;
    default:
      break;
  }
</script>

    <!-- Main Wrapper -->
    <div id="wrapper">

      <div class="normalheader transition">
        <div class="hpanel">
          <div class="panel-body">
            <a class="small-header-action" href="">
              <div class="clip-header">
                <i class="fa fa-arrow-up"></i>
              </div>
            </a>

            <div id="hbreadcrumb" class="pull-right m-t-lg">
              <ol class="hbreadcrumb breadcrumb">
              </ol>
            </div>
            <h2 class="font-light m-b-xs">
                  Project Profile
                </h2>
          </div>
        </div>
      </div>
      <div class="content animate-panel">

        <div class="row">
      <div class="col-lg-3">
                  <div class="ibox float-e-margins">
                      <div class="ibox-title">
                          <h5>JSON example</h5>
                          <div class="ibox-tools">
                              <a class="collapse-link">
                                  <i class="fa fa-chevron-up"></i>
                              </a>
                              <a class="close-link">
                                  <i class="fa fa-times"></i>
                              </a>
                          </div>
                      </div>
                      <div class="ibox-content">

                          <div id="using_json"></div>

                      </div>
                  </div>
              </div>
              <div class="col-md-9">
                  <div class="row">
                      <div class="col-md-4">
                          <div class="hpanel">
                              <div class="panel-body file-body">
                                <img src="../../images/11.png" width="250" height="250" alt="">
                              </div>
                              <div class="panel-footer">
                                  <a href="#">Document_2016.doc</a>
                              </div>
                          </div>
                          <div class="hpanel">
                              <div class="panel-body file-body">
                                <img src="../../images/10.png" width="250" height="250" alt="">
                              </div>
                              <div class="panel-footer">
                                  <a href="#">Document_2016.doc</a>
                              </div>
                          </div>

                      </div>
                      <div class="col-md-4">
                          <div class="hpanel">
                              <div class="panel-body file-body">
                                <img src="../../images/6.png" width="250" height="250" alt="">
                              </div>
                              <div class="panel-footer">
                                  <a href="#">Sheets_2016.doc</a>
                              </div>
                          </div>
                          <div class="hpanel">
                              <div class="panel-body file-body">
                                <img src="../../images/12.png" width="250" height="250" alt="">
                              </div>
                              <div class="panel-footer">
                                  <a href="#">Sheets_2016.doc</a>
                              </div>
                          </div>

                      </div>
                      <div class="col-md-4">
                          <div class="hpanel">
                              <div class="panel-body file-body">
                                <img src="../../images/3.png" width="250" height="250" alt="">
                              </div>
                              <div class="panel-footer">
                                  <a href="#">Presentation_2016.doc</a>
                              </div>
                          </div>
                          <div class="hpanel">
                              <div class="panel-body file-body">
                                <img src="../../images/4.png" width="250" height="250" alt="">
                              </div>
                              <div class="panel-footer">
                                  <a href="#">Presentation_2016.doc</a>
                              </div>
                          </div>
                      </div>
                  </div>
                </div>
              </div>

</div>

      <div class="content animate-panel">

        <div class="row">

          <div class="col-md-8">

            <div class="font-bold m-b-sm">
              Project information
            </div>

            <div class="hpanel">
              <div class="panel-body">

                <div class="pull-right">
                  <button class="btn btn-success btn-xs">  Active</button>
                  <button class="btn btn-default btn-xs"> <i class="fa fa-pencil"></i> Edit</button>
                </div>
                <h2 class="m-t-none"><%=project.name%> </h2>
                <small>
                            A wonderful serenity has taken possession of my entire soul, like these sweet mornings of
                            spring which I enjoy with my whole heart.
                            I am alone, and feel the charm of existence in this spot, which was created for the bliss of
                            souls like mine.
                        </small>
                <div class="small m-t-xs">
                  <strong>Create by:</strong> Anthony Novic<br/>
                  <strong>Client:</strong> Nordic Company Walking
                </div>
                <div class="m-t-md">
                  <canvas id="lineOptions" height="60"></canvas>
                </div>
              </div>
            </div>

            <div class="hpanel">

              <div class="panel-body">

                <p>
                  <strong>These sweet mornings of spring</strong> which I enjoy with my whole heart. I am alone, and feel the charm of existence in this spot, which was created for the bliss of souls like mine.
                </p>

                <div class="table-responsive">
                  <table class="table table-hover table-bordered table-striped">
                    <tbody>
                      <tr>
                        <td>
                          <span class="label label-success">Added</span>
                        </td>
                        <td class="issue-info">
                          <a href="#">
                                        Message
                                    </a>
                          <br/>
                          <small>
                                        This is issue with the coresponding note
                                    </small>
                        </td>
                        <td>
                          Adrian Novak
                        </td>
                        <td>
                          12.02.2015
                        </td>
                        <td class="text-right">
                          <button class="btn btn-default btn-xs"> Action</button>
                        </td>
                      </tr>
                      <tr>
                        <td>
                          <span class="label label-info">Added</span>
                        </td>
                        <td class="issue-info">
                          <a href="#">
                                        Call
                                    </a>
                          <br/>
                          <small>
                                        Desktop publishing packages and web page editors now use Lorem Ipsum as their default model text
                                    </small>
                        </td>
                        <td>
                          Anna Smith
                        </td>
                        <td>
                          10.02.2015
                        </td>
                        <td class="text-right">
                          <button class="btn btn-default btn-xs"> Action</button>
                        </td>
                      </tr>
                      <tr>
                        <td>
                          <span class="label label-success">Added</span>
                        </td>
                        <td class="issue-info">
                          <a href="#">
                                        Message
                                    </a>
                          <br/>
                          <small>
                                        It is a long established fact that a reader will be
                                    </small>
                        </td>
                        <td>
                          Anthony Jackson
                        </td>
                        <td>
                          02.03.2015
                        </td>
                        <td class="text-right">
                          <button class="btn btn-default btn-xs"> Action</button>
                        </td>
                      </tr>
                      <tr>
                        <td>
                          <span class="label label-info">Added</span>
                        </td>
                        <td class="issue-info">
                          <a href="#">
                                        Message
                                    </a>
                          <br/>
                          <small>
                                        There are many variations of passages of Lorem Ipsum available, but the majority have suffered
                                    </small>
                        </td>
                        <td>
                          Monica Proven
                        </td>
                        <td>
                          01.10.2015
                        </td>
                        <td class="text-right">
                          <button class="btn btn-default btn-xs"> Action</button>
                        </td>
                      </tr>
                      <tr>
                        <td>
                          <span class="label label-info">Fixed</span>
                        </td>
                        <td class="issue-info">
                          <a href="#">
                                        Meeting
                                    </a>
                          <br/>
                          <small>
                                        Always free from repetition, injected humour, or non-characteristic words etc.
                                    </small>
                        </td>
                        <td>
                          Alex Ferguson
                        </td>
                        <td>
                          28.11.2015
                        </td>
                        <td class="text-right">
                          <button class="btn btn-default btn-xs"> Action</button>
                        </td>
                      </tr>
                      <tr>
                        <td>
                          <span class="label label-success">Fixed</span>
                        </td>
                        <td class="issue-info">
                          <a href="#">
                                        Message
                                    </a>
                          <br/>
                          <small>
                                        Renaissance. The first line of Lorem Ipsum, "Lorem ipsum dolor sit am
                                    </small>
                        </td>
                        <td>
                          Mark Conor
                        </td>
                        <td>
                          18.09.2015
                        </td>
                        <td class="text-right">
                          <button class="btn btn-default btn-xs"> Action</button>
                        </td>
                      </tr>
                      <tr>
                        <td>
                          <span class="label label-success">Fixed</span>
                        </td>
                        <td class="issue-info">
                          <a href="#">
                                        Call
                                    </a>
                          <br/>
                          <small>
                                        Renaissance. The first line of Lorem Ipsum, "Lorem ipsum dolor sit am
                                    </small>
                        </td>
                        <td>
                          Carol Jackson
                        </td>
                        <td>
                          11.03.2015
                        </td>
                        <td class="text-right">
                          <button class="btn btn-default btn-xs"> Action</button>
                        </td>
                      </tr>
                      <tr>
                        <td>
                          <span class="label label-success">Fixed</span>
                        </td>
                        <td class="issue-info">
                          <a href="#">
                                        Message
                                    </a>
                          <br/>
                          <small>
                                        Content here, content here', making it look like readable English. Many desktop
                                    </small>
                        </td>
                        <td>
                          Carol Jackson
                        </td>
                        <td>
                          05.04.2015
                        </td>
                        <td class="text-right">
                          <button class="btn btn-default btn-xs"> Action</button>
                        </td>
                      </tr>
                      <tr>
                        <td>
                          <span class="label label-info">Fixed</span>
                        </td>
                        <td class="issue-info">
                          <a href="#">
                                        Meeting
                                    </a>
                          <br/>
                          <small>
                                        Virginia, looked up one of the more obscure Latin words, consectetur
                                    </small>
                        </td>
                        <td>
                          Monica Smith
                        </td>
                        <td>
                          10.06.2014
                        </td>
                        <td class="text-right">
                          <button class="btn btn-default btn-xs"> Action</button>
                        </td>
                      </tr>
                      <tr>
                        <td>
                          <span class="label label-success">Fixed</span>
                        </td>
                        <td class="issue-info">
                          <a href="#">
                                        Meeting
                                    </a>
                          <br/>
                          <small>
                                        Injected humour, or randomised words which don't l
                                    </small>
                        </td>
                        <td>
                          Anna Johnson
                        </td>
                        <td>
                          13.05.2014
                        </td>
                        <td class="text-right">
                          <button class="btn btn-default btn-xs"> Action</button>
                        </td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>

            </div>
          </div>
          <div class="col-md-4">

            <div class="font-bold m-b-sm">
              Project statistics
            </div>

            <div class="hpanel stats">
              <div class="panel-body">

                <div>
                  <i class="pe-7s-cash fa-4x"></i>
                  <h1 class="m-xs text-success">$1 208,20</h1>
                </div>

                <p>
                  <strong>Existence of spring</strong> and feel the charm of existence in this spot, which was created for the bliss of souls like mine.
                </p>
                <div class="row">
                  <div class="col-xs-6">
                    <small class="stat-label">Today</small>
                    <h4>$170,20 <i class="fa fa-level-up text-success"></i></h4>
                  </div>
                  <div class="col-xs-6">
                    <small class="stat-label">Last week</small>
                    <h4>$580,90 <i class="fa fa-level-up text-success"></i></h4>
                  </div>
                </div>
                <div class="row">
                  <div class="col-xs-6">
                    <small class="stat-label">Today</small>
                    <h4>$620,20 <i class="fa fa-level-up text-success"></i></h4>
                  </div>
                  <div class="col-xs-6">
                    <small class="stat-label">Last week</small>
                    <h4>$140,70 <i class="fa fa-level-up text-success"></i></h4>
                  </div>
                </div>
              </div>
            </div>

            <div class="font-bold m-b-sm">
              Project participants
            </div>
            <% clients.forEach(function (client) { %>
              <div class="col-md-6">
                <div class="hpanel">
                  <div class="panel-body text-center">
                    <a href="/client/<%=client.id%>">
                                <img alt="logo" class="img-circle img-small" src="<%=client.avatar%>">
                                <div class="m-t-sm">
                                    <strong><%=client.first_name%> <%=client.last_name%></strong>
                                </div>
                              </a>
                  </div>
                </div>
              </div>
              <% }) %>
          </div>
        </div>
      </div>
      <footer class="footer">
        <span class="pull-right">
            The_ReFactory
        </span> Company @2017
      </footer>
    </div>

    <% include partials/footer %>

      <script>
        $('#demo4').click(function() {
          swal({
              title: "Are you sure?",
              text: "Your will not be able to recover this project or it's clients!",
              type: "warning",
              showCancelButton: true,
              confirmButtonColor: "#DD6B55",
              confirmButtonText: "Yes, delete it!",
              cancelButtonText: "No, cancel please!",
              closeOnConfirm: false,
              closeOnCancel: false
            },
            function(isConfirm) {
              if (isConfirm) {
                swal("Deleted!", "Your project & all affiliated clients has been deleted.", "success");
                setTimeout(
                  function() {
                    $("#form").submit();
                  }, 2000);
              } else {
                swal("Cancelled", "Your project is safe ... for now.)", "error");
              }
            });
        });
      </script>

      <script>
          $(document).ready(function(){

              $('#jstree1').jstree({
                  'core' : {
                      'check_callback' : true
                  },
                  'plugins' : [ 'types', 'dnd' ],
                  'types' : {
                      'default' : {
                          'icon' : 'fa fa-folder'
                      },
                      'html' : {
                          'icon' : 'fa fa-file-code-o'
                      },
                      'svg' : {
                          'icon' : 'fa fa-file-picture-o'
                      },
                      'css' : {
                          'icon' : 'fa fa-file-code-o'
                      },
                      'img' : {
                          'icon' : 'fa fa-file-image-o'
                      },
                      'js' : {
                          'icon' : 'fa fa-file-text-o'
                      }

                  }
              });

              $('#using_json').jstree({
                  'core' : {
                  'data' : [
                      'Empty Folder',
                      {
                          'text': 'Resources',
                          'state': {
                              'opened': true
                          },
                          'children': [
                              {
                                  'text': 'css',
                                  'children': [
                                      {
                                          'text': 'animate.css', 'icon': 'none'
                                      },
                                      {
                                          'text': 'bootstrap.css', 'icon': 'none'
                                      },
                                      {
                                          'text': 'main.css', 'icon': 'none'
                                      },
                                      {
                                          'text': 'style.css', 'icon': 'none'
                                      }
                                  ],
                                  'state': {
                                      'opened': true
                                  }
                              },
                              {
                                  'text': 'js',
                                  'children': [
                                      {
                                          'text': 'bootstrap.js', 'icon': 'none'
                                      },
                                      {
                                          'text': 'inspinia.min.js', 'icon': 'none'
                                      },
                                      {
                                          'text': 'jquery.min.js', 'icon': 'none'
                                      },
                                      {
                                          'text': 'jsTree.min.js', 'icon': 'none'
                                      },
                                      {
                                          'text': 'custom.min.js', 'icon': 'none'
                                      }
                                  ],
                                  'state': {
                                      'opened': true
                                  }
                              },
                              {
                                  'text': 'html',
                                  'children': [
                                      {
                                          'text': 'layout.html', 'icon': 'none'
                                      },
                                      {
                                          'text': 'navigation.html', 'icon': 'none'
                                      },
                                      {
                                          'text': 'navbar.html', 'icon': 'none'
                                      },
                                      {
                                          'text': 'footer.html', 'icon': 'none'
                                      },
                                      {
                                          'text': 'sidebar.html', 'icon': 'none'
                                      }
                                  ],
                                  'state': {
                                      'opened': true
                                  }
                              }
                          ]
                      },
                      'Fonts',
                      'Images',
                      'Scripts',
                      'Templates',
                  ]
              } });

          });
          </script>
