<!-- Header -->
<div id="header">
  <div class="color-line">
  </div>
  <div id="logo" class="light-version">
    <span>
      <a href="/users/<%=user.id%>"><img src="../../images/app_mod.png" style="width:30px;height:30px;"></img>&nbsp;&nbsp;Code Mining</a>
        </span>
  </div>
  <nav role="navigation">
    <div class="header-link hide-menu"><i class="fa fa-bars"></i></div>
    <div class="small-logo">
      <a href="/users/<%=user.id%>"><img src="../../images/app_mod.png" style="width:30px;height:30px;"></img>&nbsp;&nbsp;Code Mining</a>
    </div>
    <form role="search" class="navbar-form-custom" method="post" action="#">
      <div class="form-group">
        <input type="text" placeholder="Search" class="form-control" name="search">
      </div>
    </form>
    <div class="mobile-menu">
      <button type="button" class="navbar-toggle mobile-menu-toggle" data-toggle="collapse" data-target="#mobile-collapse">
                <i class="fa fa-chevron-down"></i>
            </button>
      <div class="collapse mobile-navbar" id="mobile-collapse">
        <ul class="nav navbar-nav">
          <li>
            <a class="" href="/auth/login">Login</a>
          </li>
          <li>
            <a class="logout">Logout</a>
          </li>
          <li>
            <a class="" href="/users/<%=user.id%>/edit">Profile</a>
          </li>
        </ul>
      </div>
    </div>
    <div class="navbar-right">
      <ul class="nav navbar-nav no-borders">
        <li class="dropdown">
          <a class="dropdown-toggle" href="#" data-toggle="dropdown">
                        <i class="pe-7s-speaker"></i>
                    </a>
          <ul class="dropdown-menu hdropdown notification animated">
            <li>
              You have 0 new notifications
            </li>
            <li class="summary"><a href="#">See all notifications</a></li>
          </ul>
        </li>
        <li class="dropdown">
                  <a class="dropdown-toggle" href="#" data-toggle="dropdown">
                                <i class="pe-7s-keypad"></i>
                            </a>

                  <div class="dropdown-menu hdropdown bigmenu">
                    <div class="row">
                      <div class="col-md-4">
                        <h2><b>DISCOVER</b></h2>
                        <h3>Explore</h3>
                        <ul class="list-group">
                          <li class="list-group-item"><a href="#">Code Metrics</a></li>
                          <li class="list-group-item"><a href="#">Technical Debt</a></li>
                          <li class="list-group-item"><a href="#">Call Chain</a></li>
                          <li class="list-group-item"><a href="#">Data Dependency</a></li>
                          <li class="list-group-item"><a href="#">Data Flow</a></li>
                        </ul>
                        <h3>Search</h3>
                        <ul class="list-group">
                          <li class="list-group-item"><a href="#">Simple Search</a></li>
                          <li class="list-group-item"><a href="#">Advanced Search</a></li>
                        </ul>
                        <h3>Machine Learning</h3>
                        <ul class="list-group">
                          <li class="list-group-item"><a href="#">Pattern Match</a></li>
                          <li class="list-group-item"><a href="#">Pattern Recognition</a></li>
                        </ul>
                      </div>
                      <div class="col-md-4">
                        <h2><b>ANNOTATE</b></h2>
                        <h3>Data Naming Conventions</h3>
                        <ul class="list-group">
                          <li class="list-group-item"><a href="#">Prefix</a></li>
                          <li class="list-group-item"><a href="#">Regular Expression</a></li>
                          <li class="list-group-item"><a href="#">Manual Grouping</a></li>
                        </ul>
                        <h3>Data Annotation</h3>
                        <ul class="list-group">
                          <li class="list-group-item"><a href="#">Database Table</a></li>
                          <li class="list-group-item"><a href="#">Database Column</a></li>
                          <li class="list-group-item"><a href="#">VSAM Fields</a></li>
                          <li class="list-group-item"><a href="#">IMS DBDM</a></li>
                          <li class="list-group-item"><a href="#">IMS Segment</a></li>
                          <li class="list-group-item"><a href="#">IMS Field</a></li>
                        </ul>
                        <h3>Code Annotation</h3>
                        <ul class="list-group">
                          <li class="list-group-item"><a href="#">Copybook</a></li>
                          <li class="list-group-item"><a href="#">Variable</a></li>
                          <li class="list-group-item"><a href="#">Condition</a></li>
                          <li class="list-group-item"><a href="#">Code Block</a></li>
                          <li class="list-group-item"><a href="#">Sub-system</a></li>
                          <li class="list-group-item"><a href="#">Application</a></li>
                          <li class="list-group-item"><a href="#">Modules</a></li>
                        </ul>
                      </div>
                      <div class="col-md-4">
                        <h2><b>REVIEW AND REFINE</b></h2>
                        <h3>Review and Refine</h3>
                        <ul class="list-group">
                          <li class="list-group-item"><a href="#">Assign Confidence</a></li>
                          <li class="list-group-item"><a href="#">Discover Discrepency and Gaps</a></li>
                          <li class="list-group-item"><a href="#">Call Chain</a></li>
                          <li class="list-group-item"><a href="#">Data Dependency</a></li>
                          <li class="list-group-item"><a href="#">Data Flow</a></li>
                        </ul>
                        <h2><b>PLAN FOR CHANGE</b></h2>
                        <h3>Impact Analysis</h3>
                        <ul class="list-group">
                          <li class="list-group-item"><a href="#">System</a></li>
                          <li class="list-group-item"><a href="#">Application</a></li>
                          <li class="list-group-item"><a href="#">Module</a></li>
                          <li class="list-group-item"><a href="#">Condition</a></li>
                          <li class="list-group-item"><a href="#">Variable</a></li>
                          <li class="list-group-item"><a href="#">Data Field</a></li>
                        </ul>
                      </div>
                    </div>
                  </div>
                </li>

        <li class="dropdown">
          <a class="logout">
                        <i class="pe-7s-upload pe-rotate-90"></i>
                    </a>
        </li>
      </ul>
    </div>
  </nav>
</div>

<!-- Navigation -->
<aside id="menu">
  <div id="navigation">
    <div class="profile-picture">
      <a href="/users/<%=user.id%>/edit">
                <img src="<%=user.avatar%>" height="70" width="70" class="img-circle m-b" alt="logo">
            </a>

      <div class="stats-label text-color">
        <span class="font-extra-bold font-uppercase"><%=user.first_name%> <%=user.last_name%></span>

        <div class="dropdown">
          <a class="dropdown-toggle" href="#" data-toggle="dropdown">
                        <small class="text-muted"> Admin: <%=user.admin%> <b class="caret"></b></small>
                    </a>
          <ul class="dropdown-menu animated  m-t-xs">
            <li><a href="/users/<%=user.id%>/edit">Edit Profile</a></li>
            <li><a href="/projects/new">Add Projects</a></li>
            <li><a href="/clients/new">Add Clients</a></li>
            <li class="divider"></li>
            <li><a class="logout">Logout</a></li>
          </ul>
        </div>


        <div id="sparkline1" class="small-chart m-t-sm"></div>
        <div>
          <h4 class="font-extra-bold m-b-xs">
                        1749 / 2000
                    </h4>
          <small class="text-muted">Average migration quality over time</small>
        </div>
      </div>
    </div>

    <ul class="nav" id="side-menu">
      <li>
        <a href="/users/<%=user.id%>"> <span class="nav-label">Dashboard</span> </a>
      </li>
      <% if (user.admin === true){ %>
        <li>
          <a href="/admin%>"> <span class="nav-label">Admin</span> </a>
        </li>
        <li class="active">
          <a href="/search%>"> <span class="nav-label">Search</span> </a>
        </li>
        <%}%>
          <li>
            <a href="/projects"> <span class="nav-label">Projects</span> </a>
          </li>
          <li>
            <a href="/clients"> <span class="nav-label">Clients</span> </a>
          </li>
    </ul>
  </div>
</aside>
